.inputRow {
  position: relative;
}

.inputIcon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.input {
  padding-left: 1.5rem;
}

.detected {
  background-color: #f9e5e4;
}

.notDetected {
  background-color: #daebf4;
}

.calendarTable {
  width: 100%;
  transform: scaleY(-1);
  margin-bottom: 1rem;

  .bar {
    border-bottom: 1px solid #000;

    > td {
      position: relative;
      top: 0.3125rem;
    }
  }

  .dates {
    transform: scaleY(-1);

    > td {
      position: relative;
      top: 2.5rem;
      left: -0.2rem;
    }
  }

  .lastTr {
    width: 1%;
  }
}

.searchBar {
  @include bp-down("xs") {
    width: 15.75rem;
    height: 2.5rem;
    position: absolute;
    top: 3.8125rem;
    right: 1rem;
  }

  @include bp-up("md") {
    position: relative;
    margin: .25rem 0 1rem 0;
    inset: 0;
    width: 37.3125rem;
    height: 3.1875rem;
  }
}

.viralLoadHeader {
  background-color: #f8f8f8;
  font-family: Roboto Condensed;
  color: #296298;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 0 6px 1.5rem;
}

.viralLoadChart {
  position: relative;
  border-color: #e5e5e5;
  border-width: 2px;

  @include bp-down("xs") {
    width: 21.438rem;
  }

  @include bp-up("md") {
    inset: 0;
    width: 37.3125rem;
  }
}

.trendTable {
  @include bp-down("md") {
    margin-top: .5rem;
    height: 15rem;
  }
}

.rightCol {
  max-width: 100vw;

  align-items: flex-start !important;

  @include bp-down("lg") {
    align-items: center !important;
  }

  @include bp-up("md") {
      padding-left: 2.0625rem;
      width: 36.8125rem;
      margin: auto;
  }

  @include bp-up("xl") {
    margin: 0;
  }
}

.leftCol {
  padding: 0;
  
  @include bp-up("lg") {
    width: 100%;
  }

  @include bp-up("xl") {
    width: 52%;
  }

  @include bp-up("xxl") {
    width: 48.75rem;
  }
}

.wrapper {
  max-width: 1440px;

  @include bp-up("xxxl") {
    margin: auto;
  }
}

.variantsSpacing{
  margin-left: 2rem;
  margin-right: 2rem;

  @include bp-up("lg") {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

.containerDiv{
  height:30rem !important;
}

.faqContainer {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 6rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.4);
}

.faqContent {
  background-color: #ffffff;
  width: 43.75rem;
  height: 29.375rem;
  margin: auto;
  overflow: auto;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15), 2px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.15);

  @include bp-down("md") {
    width: 21.4375rem;
    height: 37.5rem;
  }
}

.faqClose {
  color: #323232;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
