.wrapper {
    width: 37.25rem;
    background-color: $dark-blue;
    margin-top: 1rem;

    @include bp-down("xl") {
        margin-top: 1rem;
    }

    @include bp-down("md") {
        width: 21.4375rem;
    }
}

.toggleHeader {
    @include font-type("body 3 condensed");
    color: #ffffff;
    padding: .25rem .5rem;
    background-color: $dark-blue;
}

.innerWrapper {
    margin: .0625rem;
    background-color: #f8f8f8;
    padding: 0 .5rem 0 .5rem;
    gap: 1.5rem;
    justify-content: space-between;
    display: flex;
    height: 2.25rem;

    @include bp-down("md") {
        height: 4.5rem;
        gap: 0rem;
        flex-wrap: wrap;
    }
}

.toggleWrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;
    @include bp-down("md") {
        width: 100%;
    }
}

.toggleLabel {
    @include font-type("body 3 condensed");
    color: $dark-gray;
    padding-top: .625rem;
}

.toggleContainer {
    padding-top: .25rem;
    width: 50px;
}
