.searchDiv {
  position: absolute;
  top: 0;
  padding-top: 0.8rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  background-color: rgba(255, 255, 255, 0);
  font-family: Roboto Condensed;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  * {
      box-sizing: border-box;
  }
}

.inputContainer {
  position: relative;
}

.inputBox {
  border: 1.5px solid #a9a9a9;
  font-size: 16px;
  padding: 10px 2.4rem 10px 2.4rem;
  height: 2rem;
  border-radius: 5px;
  color: #4d4d4d;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-overflow: ellipsis;
          
  ::placeholder {
    color: #4d4d4d;
    opacity: 1;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4d4d4d;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #4d4d4d;
  }

  &:focus {
    outline: none;
  }
}

.inputReset {
  padding-right: 11.25rem;
}

.inputAbbrReset {
  padding-right: 4.75rem;
}

.inputSelected {
  border-width: 2px;
  border-color: #489bca;
  background-color: rgba(201, 216, 229, 0.5);
  color: black;
}

.iconContainer {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 0.4rem;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    transform: scale(0.8);
  }
}

.dropdownDiv {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 0, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  border-radius: 5px;
  margin: 0px;
  max-height: 21.6rem;
  overflow-y: auto;
  z-index: 2000;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      padding: 10px 20px;
      background-color: #fff;
      border: 1px solid #f3f3f3;
      line-height: 1.2rem;
      max-height: 4.8rem;
      display: flex;
      align-items: center;
      white-space: normal;

      &:hover {
        background-color: #f3f3f3;
        cursor: pointer;
      }

      &:focus {
        background-color: #f3f3f3;
        cursor: pointer;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:not(:first-child) {
        border-top: 0;
      }
    }
  }
}

.closeIcon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 4.4rem;
    height: 3.6rem;
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.75rem;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;

    > svg {
      > path {
        fill: #4d4d4d;
      }
    }
}

.showReset {
  width: 14rem;
  padding-right: 2rem;
}

.showAbbrReset {
  width: 6.25rem;
  padding-right: 1.5rem;
}

.searchCloseButton {
  display: flex;
  place-items: center;
}

.closeSelected {
  color: #296298;

  > svg {
    > path {
      fill: #296298;
    }
  }
}