.wrapper {
  width: 100%;
}

.question {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 8px;
  background-color: $dark-blue;
  margin-top: .25rem;
}

.questionText {
  height: fit-content;
  @include font-type("body 2");
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.questionIcon {
  height: 100%;
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.answer {
  width: 100%;
  @include font-type("body 3");
  padding: .75rem 1.5rem 1.5rem;
}
